.card {
    border: none;
    padding-top: 4px;
}

.card .userName {
    font-size: 0.8rem;
}

.card .fansNumber {
    font-size: 3.5rem;
}

.card .fansType {
    font-size: 0.8rem;
    letter-spacing: 6px;
}

.card-body {
    cursor: pointer;
}

.card-body.bg-paleBlue:hover {
    background-color: hsl(227, 47%, 96%);
}

.card-body.bg-desaturatedBlue:hover {
    background-color: rgb(51, 58, 86);
}